* {
    box-sizing: border-box;
}

.grid__container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

/* ---------- Pokedex ---------- */
  
.search__bar {
    border-radius: 0.5rem;
    margin-bottom: var(--mb-3);
    margin-top: var(--mb-2);
    height: 4rem;
    font-family: var(--body-font);
    border: 0;
    color: black;
    font-size: 1rem;
    width: 20rem;
}
  
input::placeholder {
    color: black;
    text-align: center;
}

/* ---------- PokedexType ---------- */

.dropdown {
    border-radius: 0.5rem;
    margin-bottom: var(--mb-3);
    margin-top: var(--mb-3);
    height: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
  }

  /* ---------- PokedexFav ---------- */

  .favorites__button {
    border-radius: 0.5rem;
    margin-bottom: var(--mb-1);
    border: 0;
    background-color: var(--first-color-lighter);
    color: white;
    padding: 0.5rem;
  }

  .favoritesOnly {
    margin-bottom: var(--mb-2);
    margin-top: var(--mb-3);
  }