.card__types {
    display: flex;
    justify-content: center;    
}

.card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    color: #fff;
}

.card__containers {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.card__div {
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: var(--mb-2);
    background-color: white;
}

.card__moves {
    justify-content: center;
}

.card__img{
    height: 16em;
    border: 4mm ridge rgba(241, 241, 200, .6);
    border-radius: 100%;
    color: black;
}

.card__name {
    margin-bottom: var(--mb-1);
    text-align: center;
}

.card__container {
    margin-top: 5rem;
}