.nav__link {
    ul {
      display: flex;
      list-style: none;
      align-items: left;
      justify-content: left;
      background-color: var(--first-color-second);
      font-size: calc(5px + 2vmin);
      padding-top: 1rem;
      padding-bottom: 1rem;
  
      li {
        padding: 8px 24px;
  
        a {
          text-decoration: none;
          color: white;
  
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  } 